#mini-map {
		
	position: fixed;
	top: 37px;
	width: 70px;
	right:0;
	margin-right:86px;
	z-index: 21;
}
 
#mini-map .selection {	
	top:-2px;
	position: absolute;
	width:141px;
	border-radius:3px;
	background-color:rgba(0,0,0, 0.06);
	z-index:22;
}

#mini-map pre {
	
	font-family: 'SourceCodePro', monospace;	
	white-space: pre;
	word-wrap: normal;
	border-color:transparent;
	font-size:2px;
	line-height:1px;
	padding: 0;
	margin:0;
	background:transparent;
	overflow:hidden;
	width:135px;
}
	